.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  width: 100vw;
  padding: 15px 20px;
  background: lightblue;

  display: flex;
  justify-content: space-around;
}

.header .link {
  font-size: 20px;
  font-weight: 600;
  color: darkgreen;
  letter-spacing: 5px;
}

.header .link:hover {
  cursor: pointer;
}
